<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>ДФ 04</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/excel.css}"
          href="../../css/excel.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
</head>

<body>
<div class="container">
    <div class="box">
        <ul class="hr">
            <li><a href="/home">Домой</a></li>
            <li th:if="${user.role.toString() == 'ADMIN'}"><a href="/userlist">Список пользователей</a></li>
            <li><a href="/auth/logout">Выход</a></li>
        </ul>
        <h2><span th:text="${title}"></span></h2>
        <h3><span th:text="${user.name}"></span></h3>
        <table border=0 cellpadding=0 cellspacing=0 width=1224 style='border-collapse:
 collapse;width:918pt'>
                <th class=xl913171> № </th>
                <th class=xl913171>Дата заполнения</th>
                <th class=xl913171>МВЗ</th>
                <th class=xl913171>Участок недр</th>
                <th class=xl913171>Вид деятельности</th>
                <th class=xl913171>Цель использования</th>
                <th class=xl913171>Место производства<br>бетона</th>
                <th class=xl913171>Марка</th>
                <th class=xl913171>Период</th>
                <th class=xl913171>Количество, т</th>
                <th class=xl913171>Действие</th>
            </tr>
            <tr id="input">
                <form>
                    <td class=xl933171><input type="hidden" id="dfId" th:value="${dfId}" value=""/></td>
                    <td class=xl933171 th:utext="${edit.format(formatPost)}" ></td>
                    <td class=xl933171>
                        <select type="text" id="mvz">
                            <option value="1">выберите тип</option>
                            <option th:each="option : ${mvzList}" th:value="${option.id}" th:text="${option.name}"></option>
                        </select>
                    </td>
                    <td class=xl933171><input type="text" id="bosom"/></td>
                    <td class=xl933171>
                        <select id="type">
                            <option value="Инвестиционная">Инвестиционная</option>
                            <option value="Текущая">Текущая</option>
                        </select>
                    </td>
                    <td class=xl933171><input type="text" id="target"/></td>
                    <td class=xl933171><input type="text" id="place"/></td>
                    <td class=xl933171><input type="text" id="mark"/></td>
                    <td class=xl933171>
                        <select type="text" id="datePeriod">
                            <option th:each="option : ${dateList}" th:value="${option}" th:text="${option.format(formatOption)}"></option>
                        </select>
                    </td>
                    <td class=xl953171><input type="number" id="amt"/></td>
                    <td class=xl963171><input type="button" id="df34Add" value="Сохранить"/></td>
                </form>
            </tr>
            <tr height=20 style='height:15.0pt' th:each="df, stat : ${dfs}">
                <td class=xl933171 th:utext="${stat.count}"></td>
                <td class=xl933171 th:utext="${df.time.format(formatPost)}"></td>
                <td class=xl933171 th:utext="${df.mvzName}">Мвз</td>
                <td class=xl933171 th:utext="${df.bosom}">Мвз</td>
                <td class=xl933171 th:utext="${df.type}">тип</td>
                <td class=xl933171 th:utext="${df.target}">Принадлежность</td>
                <td class=xl943171 th:utext="${df.place}">Наименование</td>
                <td class=xl933171 th:utext="${df.mark}">Период</td>
                <td class=xl953171 th:utext="${df.period.format(formatOption)}">Период</td>
                <td class=xl933171 th:utext="${df.amt}">Количество</td>
                <td class=xl963171>&nbsp;<button th:if="${df.time > edit.minusDays(7)}" title="Удалить запись" type="submit"
                                                 th:onclick="'deleteDf34(\'' + ${df.id} + '\');'">(-)
                </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<script src="../../js.js"></script>
</body>
</html>
