<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>ДФ 04</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/excel.css}"
          href="../../css/excel.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
</head>

<body>
<div class="container">
    <div class="box">
        <ul class="hr">
            <li><a href="/home">Домой</a></li>
            <li th:if="${user.role.toString() == 'ADMIN'}"><a href="/userlist">Список пользователей</a></li>
            <li><a href="/auth/logout">Выход</a></li>
        </ul>
        <h2><span th:text="${title}"></span></h2>
        <h3><span th:text="${user.name}"></span></h3>
        <table border=0 cellpadding=0 cellspacing=0 width=1224 style='border-collapse:
 collapse;width:918pt'>
            <th height=48 class=xl913171> №</th>
            <th height=48 class=xl913171>Дата заполнения</th>
            <th height=48 class=xl913171>Вид ГТМ</th>
            <th class=xl913171>Участок недр</th>
            <th class=xl913171>Куст</th>
            <th class=xl913171>Скважина</th>
            <th class=xl913171>Назначение скважины</th>
            <th class=xl913171>Вид скважины</th>
            <th class=xl913171>Дата <br>окончания<br> КРС</th>
            <th class=xl923171>Комментарий</th>
            <th class=xl923171>Действие</th>
            </tr>
            <!--            <tr height=20 style='height:15.0pt' id="input" th:if="${admin == 'ADMIN'}" >-->
            <tr height=20 style='height:15.0pt' id="input">
                <form>
                    <td class=xl933171><input type="hidden" id="dfId" th:value="${dfId}" value=""/></td>
                    <td class=xl933171 th:utext="${edit.format(formatPost)}"></td>
                    <td height=20 class=xl933171 style='height:15.0pt'><input type="text" id="typegtm"/></td>
                    <td class=xl933171><select id="oilfield">
                        <option value="Аянский (Западный) участок">Аянский (Западный) участок</option>
                        <option value="Аянский участок">Аянский участок</option>
                        <option value="Аянское месторождение участок">Аянское месторождение участок</option>
                        <option value="Большетирский участок">Большетирский участок</option>
                        <option value="Верхнетирский участок">Верхнетирский участок</option>
                        <option value="Даниловский участок">Даниловский участок</option>
                        <option value="Западно-Усть-Кутский участок">Западно-Усть-Кутский участок</option>
                        <option value="Западно-Ярактинский участок">Западно-Ярактинский участок</option>
                        <option value="Кийский участок">Кийский участок</option>
                        <option value="Мирнинский участок">Мирнинский участок</option>
                        <option value="Тутурский участок">Тутурский участок</option>
                        <option value="Ярактинский участок">Ярактинский участок</option>
                        <option value="Ярактинское месторождение участок">Ярактинское месторождение участок</option>
                    </select>
                    </td>
                    <td class=xl933171><input type="text" id="kp"/></td>
                    <td class=xl943171><input type="text" id="well"/></td>
                    <td class=xl933171><input type="text" id="wellPurpose"/></td>
                    <td class=xl933171><input type="text" id="type"/></td>
                    <td class=xl953171><input type="date" id="enddate"/></td>
                    <td class=xl963171><input type="text" id="comment"/></td>
                    <td class=xl963171><input type="button" id="dfFourAdd" value="Сохранить"/></td>
                </form>
            </tr>
            <tr height=20 style='height:15.0pt' th:each="df, stat : ${dfs}">
                <td class=xl933171 th:utext="${stat.count}"></td>
                <td class=xl933171 th:utext="${df.time.format(formatPost)}"></td>
                <td class=xl933171 th:utext="${df.typeGTM}">ПВЛГ Рассолы</td>
                <td class=xl933171 th:utext="${df.oilField}">Ярактинский участок</td>
                <td class=xl933171 th:utext="${df.kp}">217</td>
                <td class=xl943171 th:utext="${df.well}">Ya_802</td>
                <td class=xl933171 th:utext="${df.wellPurpose}">Вододобывающая (рассолы)</td>
                <td class=xl933171 th:utext="${df.type}">Поисковая</td>
                <td class=xl953171 th:utext="${df.endDate}">21.08.2024</td>
                <td class=xl963171 th:utext="${df.comment}">&nbsp;</td>
                <td class=xl963171>&nbsp;
                    <button th:if="${df.time > edit.minusDays(7)}" title="Удалить запись"
                            type="submit"
                            th:onclick="'deleteDf(\'' + ${df.id} + '\');'">(-)
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<script src="../../js.js"></script>
</body>
</html>
