<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ru">

<head>
    <title>ДФ 27</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div class="box">
        <h2><span th:text="${title}"></span></h2>
        <table id="myTable24" border=1 cellpadding=0 cellspacing=0 width=1224 style='border-collapse:
 collapse;width:918pt'>
            <tr style='height:36.0pt'>
                <th height=48 class=xl913171 style='height:36.0pt;width:128pt'>№</th>
                <th height=48 class=xl913171 style='height:36.0pt;width:128pt'>Дата заполнения</th>
                <th class=xl913171 style='width:200pt'>МВЗ/ОКС</th>
                <th class=xl913171 style='width:80pt'>Наименование</th>
                <th class=xl913171 style='width:80pt'>Пояснения</th>
                <th class=xl913171 style='width:100pt' th:each="option : ${dateList}" th:value="${option}"
                    th:text="${option.format(formatPost)}"></th>
            </tr>
            <tr class="tr" height=20 style='height:15.0pt' th:each="df, stat : ${dfs}" th:id="${df.id}">
                <td class=xl933171 th:utext="${stat.count}"></td>
                <td class=xl933171 th:utext="${df.time.format(formatPost)}"></td>
                <td class=xl933171 th:utext="${df.getMvzName()}"></td>
                <td class=xl933171 th:utext="${df.name}"></td>
                <td class=xl933171 th:utext="${df.comment}"></td>
                <td class=xl963171 th:each="option : ${dateList}" th:utext="${df.getCellMap().get(option)}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
