h1 {
    font-size: 20pt;
}

h2 {
    font-size: 16pt;
}

table {
    font-style: normal;
    font-family: system-ui;
    font-size: large;
    text-align: center;
    width: 1000px;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.bull {
    width: 30px;
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 20px;
    top: 0;
    left: 0;
    font: caption;
}
.box{
    margin: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;  /* для демонстрации  */    }
/*.content{*/
/*    width: 60%;*/
/*    height: 60%;*/
/*    z-index: 9;*/
/*    margin: 20px; !* для демонстрации  *!*/
/*}*/
ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    /*border: 1px solid #000; !* Рамка вокруг текста *!*/
    padding: 3px; /* Поля вокруг текста */
    background: #e0e0e0;
    color: #ffffff;
    font-size: larger;
}



#content {
    position: absolute;
    z-index: 2;
    visibility: hidden;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px; /* Need a specific value to work */
}
.login-form {
    margin: 60px auto 60px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 100%;
    max-width: 480px;
    box-shadow: 0 0 10px 0 rgba(74, 74, 74, 0.25);
    box-sizing: border-box;
}

