<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>ДФ 04</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/excel.css}"
          href="../../css/excel.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
    <script>
    </script>
</head>

<body>
<div class="container">
    <div class="box">
        <div th:replace="menu :: header">...</div>
        <h2><span th:text="${title}"></span></h2>
        <table border=0 cellpadding=0 cellspacing=0 width=1224 style='border-collapse:
 collapse;width:918pt'>
            <th height=48 class=xl913171> №</th>
            <th height=48 class=xl913171>ID</th>
            <th height=48 class=xl913171>Наименование</th>
            <th height=48 class=xl913171>Сохранить/Изменить</th>
            </tr>
            <!--            <tr height=20 style='height:15.0pt' id="input" th:if="${admin == 'ADMIN'}" >-->
            <tr height=20 style='height:15.0pt' id="input">
                <form>
                    <td class=xl933171></td>
                    <td class=xl943171><input type="hidden" id="mvzId" value=""/></td>
                    <td class=xl933171><input type="text" id="mvzName" style="width: 800pt;"/></td>
                    <td class=xl963171><input type="button" id="mvzAdd" value="Сохранить"/></td>
                </form>
            </tr>
            <tr height=20 style='height:15.0pt' th:each="mvz, stat : ${mvzs}">
                <td class=xl933171 th:utext="${stat.count}"></td>
                <td class=xl933171 th:utext="${mvz.id}"></td>
                <td class=xl933171 th:utext="${mvz.name}"></td>
                <td class=xl963171>&nbsp;
<!--                    <button id="changeMvz" title="Изменить запись" type="submit">(-)</button>-->
                </td>
            </tr>
        </table>
    </div>
</div>
<script src="../../js.js"></script>
</body>
</html>
