<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список потребностей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha512-Dop/vW3iOtayerlYAqCgkVr2aTr2ErwwTYOvRFUpzl2VhCMJyjQF0Q9TjUXIo6JhuM/3i0vVEt2e/7QQmnHQqw=="
          crossorigin="anonymous">

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>

</head>
<body>

<div class="container">

    <div class="box">
        <ul class="hr">
            <li><a href="/home">Домой</a></li>
            <li th:if="${user.role.toString() == 'ADMIN'}" ><a href="/userlist">Список пользователей</a></li>
            <li><a href="/auth/logout">Выход</a></li>
        </ul>
        <h1><span th:text="${title}+${date}"></span></h1>
        <div id="contentTable">
            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>ДФ</th>
                    <th>Тип</th>
                    <th>Наименование</th>
                    <th>Период</th>
                    <th>Пользователи</th>
                    <th>Посленднее редактирование</th>
                </tr>

                <tr id="input" th:if="${user.role.toString() == 'ADMIN'}">
                    <form>
                        <td></td>
                        <td><input type="text" id="df"/></td>
                        <td><select id="dropDownListDf">
                            <option value="0">выберите тип</option>
                            <option th:each="option : ${dfVal}" th:value="${option}" th:text="${option}"></option>
                        </select>


                        </td>
                        <td><input type="text" id="dfName"/></td>
                        <td><input type="text" id="dfPeriod"/></td>
                        <td></td>
                        <td><input type="button" id="btn" value="Сохранить"/></td>
                    </form>


                </tr>
                <tr th:each="df : ${dfs}">
                    <td th:utext="${df.id}"></td>
                    <td style="font-weight: bold" th:utext="${df.form}"></td>
                    <td th:utext="${df.type}"></td>
                    <td><a th:href="@{'/df/' + ${df.type} + '?id=' + ${df.id}}" th:utext="${df.name}"></a></td>
                    <td th:utext="${df.period}"></td>
                    <td>
                        <div th:each="userName : ${df.users}">
                            <span th:text="${userName}"/>
                        </div>
                    </td>
                    <!--                <td width="150px">-->

                    <!--                    <input th:value="@{${cow.id}}" type="file" onchange="uploadimg(this)">-->

                    <!--                </td>-->

                    <td>
                        <button th:if="${user.role.toString() == 'ADMIN'}" title="Добавить пользователя" type="submit" class="tr_copy"
                                th:onclick="'updateDf(\'' + ${df.id} + '\');'">(+)
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>


</div>
<div id="result_form"></div>
<div id="content" th:if="${user.role.toString() == 'ADMIN'}">
    <form><input type="hidden" id="updateDfId"/></form>
    <table border="1" style="width: 300px;">
        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td>
                <button title="Добавить пользователя" type="submit" class="tr_copy"
                        th:onclick="'addUser(\'' + ${user.id} + '\');'">(+)
                </button>
            </td>
        </tr>
    </table>
</div>

<script src="../../js.js"></script>

</body>
</html>